$lilac-1: #7C5DFA;
$lilac-2: #9277FF;
$navy-1: #1E2139;
$navy-2: #252945;
$navy-3: #0C0E16;
$navy-4: #141625;
$grey-1: #DFE3FA;
$grey-2: #888EB0;
$grey-3: #7E88C3;
$red-1: #EC5757;
$red-2: rgb(255, 151, 151);
$light-background: #F8F8FB; 
$dark-background: #141625; 
$white: #FFFFFF;

$box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);